h1{ 
    color: #fe1278
    border  1px slateblue;

}

.parrafoMorado{
    font-size: 35px;
    border: 1px solid rgb(225, 0, 255);
}
.parrafoAmazul{
    color: brown;
    background-color: chartreuse;
    border: 2px solid yellow;
    margin-top: 120px;
    padding-bottom: 120px;

}
.parrafoPS{
   background-color: azure;
   height: 100px;
   width: 85%;
   margin: 1px;
   text-align: justify; 
   line-height: 25px;

}
hr{
    color: blue;
}